<nav class="navbar">
  <a class="navbar-brand mr-auto" href="/home">
    <img src="../images/online-exam-icon.png" width="30" height="30" class="d-inline-block align-top ml-1 mr-2" alt="">
    고사장
    <% if (sess.user_type == "I") { %>
    <span id="badge-instructor" class="badge badge-pill badge-info mx-2">감독</span>
    <% } else if (sess.user_type == "C") { %>
    <span id="badge-student" class="badge badge-pill badge-info mx-2">응시</span>
    <%}%>
  </a>
  <div class="text-light font-weight-bold" href="">
    안녕하세요<%= sess.user_id ? ", " + sess.user_id + "님!" : "!"; %>
  </div>


  <div class="navbar-item">
    <a class="nav-link" href="<%= sess.user_id ? '/profile' : '/login'%>"><i class="fas fa-user-circle mr-2"></i> 내 계정</a>
  </div>
  <div class="navbar-item">
    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt px-1"></i> 로그아웃</a>
  </div>

</nav>
