<nav class="navbar">
  <a class="navbar-brand mr-auto" href="/home">
    <img src="../images/online-exam-icon.png" width="30" height="30" class="d-inline-block align-top ml-1 mr-2" alt="">
    고사장
  </a>

  <div class="navbar-item">
    <a class="nav-link" href="/my-account">내 계정</a>
  </div>
  <div class="navbar-item">
    <a class="nav-link" href="/login">로그아웃</a>
  </div>

</nav>
