<%- include("partials/head"); -%>

<!--custom style-->
<link href="css/enter-session.css" rel="stylesheet">

</head>

<!--body-->

<body class="" style="background-color: #EEEEEE">

  <%- include("partials/nav"); -%>

  <main role="main">
    <div class="container">
      <!-- Code starts here-->
      <div class="row">
        <div class="col-12">
          <div class="slide-holder">

            <div class="slide-page d-flex justify-content-center shadow mb-5 rounded">
              <form>
                <div class="form-group">
                  <label for="session_code" class="info-title mt-5 mb-4">시험장 코드</label>
                  <input name="session_code" readonly class="form-control form-control-lg" type="text" value="0000">
                  <p id="info_copy_sesson_code" class="info-content-small mb-4 mt-1">*위 코드를 클릭하여 복사합니다.</p>
                </div>
                <!-- note: i had to use type="button" instead of "submit" so that this button can move to next slide, if not the webpage will refresh and we will see the first page again-->
                <button type="button" class="next-btn btn btn-block mb-4">확인</button>
              </form>
            </div>

            <div class="slide-page d-flex justify-content-center shadow mb-5 rounded">
              <div>
                <p class="info-title mb-4">입장 준비가 되셨나요?</p>
                <div id="cam-test"></div>
                <button class="btn btn-block mt-5 mb-4 w-50">입장</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include("partials/foot"); -%>
