<%- include("partials/head"); -%>

  <!--custom style-->
  <link href="css/exam.css" rel="stylesheet">

</head>

<!--body-->

<body class="" style="background-color: #EEEEEE">
  <main role="main">
    <div class="container-fluid">
      <!-- Code starts here-->
      <div class="row">
        <div class="col-10 d-flex flex-column-reverse pd-2">
          <div class="d-flex justify-content-around p-4">
            <button type="button" class="toggle-btn btn rounded-circle"><span class="material-icons">mic</span></button>
            <button type="button" class="toggle-btn btn rounded-circle"><span class="material-icons">videocam</span></button>
            <!-- use 'mic_off' and 'videocam_off' instead of 'mic' and 'videocam' when toggle off -->
          </div>
          <div class="share-view">
            <!--share screen-->
          </div>
        </div>
        <div class="col-2 bg-light pt-2">
          <!-- button trigger modal -->
          <button type="button" id="end-btn" class="btn btn-block" data-toggle="modal" data-target="#end_exam">시험 종료</button>
          <!-- modal -->
          <div class="modal fade" id="end_exam" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title col-12">시험을 종료하시겠습니까?</h5>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn col-4" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn col-4 offset-1">Confirm</button>
                </div>
              </div>
            </div>
          </div>

          <div class="input-group mt-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="material-icons">search</span>
            </div>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="participant-list">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>홍길동 (Me)</td>
                  <td><span class="badge-instructor badge badge-pill">감독</span></td>
                </tr>
                <tr>
                  <td>김길동 20xxxxxxx</td>
                  <td><span class="badge-student badge badge-pill">응시</span></td>
                </tr>
                <tr>
                  <td>강길동 20xxxxxxx</td>
                  <td><span class="badge-student badge badge-pill">응시</span></td>
                </tr>
                <tr>
                  <td>구길동 20xxxxxxx</td>
                  <td><span class="badge-student badge badge-pill">응시</span></td>
                </tr>
                <tr>
                  <td>나길동 20xxxxxxx</td>
                  <td><span class="badge-student badge badge-pill">응시</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="cam-view" id="mycam">
              <!--instructor's camera-->
          </div>
        </div>
      </div>

    </div>
  </main>

<%- include("partials/foot"); -%>
