<%- include("partials/head"); -%>

<!--custom style-->
<link href="css/account.css" rel="stylesheet">

</head>

<!--body-->

<body class="start">

  <%- include("partials/nav"); -%>

  <main role="main">
    <div class="container">
      <!-- Code starts here-->
      <div class="row">
        <div class="col-12">
          <div class="slide-holder">
            <div class="slide-page justify-content-center shadow mb-5 rounded">
              <div class="mb-4">
                <p class="info-title mb-4">회원가입</p>
              </div>

              <form class="pt-2">
                <div class="row">

                  <div class="col-md-6 pl-4 pr-5">
                    <div class="form-group row mb-4">
                      <label for="name" class="col-sm-3 col-form-label">성명</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" placeholder="성명">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="id" class="col-sm-3 col-form-label">아이디</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="id" placeholder="아이디">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="email" class="col-sm-3 col-form-label">이메일</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" placeholder="이메일">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="password" class="col-sm-3 col-form-label">비밀번호</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="비밀번호">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="confirm_password" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="confirm_password" placeholder="비밀번호 재입력">
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6 pl-4 pr-5">
                    <div class="form-group row mb-4">
                      <label for="staticEmail" class="col-sm-3 col-form-label">학교</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="staticEmail" placeholder="학교">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="staticEmail" class="col-sm-3 col-form-label">연락처</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="staticEmail" placeholder="연락처">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="accType" class="col-sm-3 col-form-label">계정유형</label>
                      <div class="col-sm-9">
                        <select class="form-select" id="accType">
                          <option selected>계정유형 선택</option>
                          <option>감독</option>
                          <option>응시</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12 pr-5">
                  <!-- note: if use type="submit", the webpage will refresh and we will see the first page again, thus cannot go to the next page through this button -->
                    <button type="button" class="next-btn btn mb-4 col-sm-2 offset-sm-10">다음</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="slide-page d-flex justify-content-center shadow mb-5 rounded">
              <div>
                <p class="info-title mb-4">회원가입</p>
                <p class="info-content mb-4">얼굴ID 등록을 위해 카메라를 봐 주십시오.</p>
                <div id="img-face-detection"><img src="../images/face-detection.png" alt="face detection"></div>
                <button class="next-btn btn btn-block mt-4 mb-4 w-50">다음</button>
              </div>
            </div>

            <div class="slide-page d-flex justify-content-center shadow mb-5 rounded">
              <div>
                <p class="info-title mb-4">회원가입</p>
                <p class="info-content mb-5">회원가입 정상적으로 완료되었습니다.</p>
                <div id="img-done"><img src="../images/check.png" alt="signup done"></div>
                <button class="btn btn-block mt-4 mb-4 w-50">확인</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include("partials/foot"); -%>
