.body {
  height: 100vh;
}

.slide-page{
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
  height: 550px;
  text-align: center;
}

.form-group{
  padding-top: 60px;
}

.form-control{
  text-align: center;
  font-size: 18px;
}

.info-title{
  font-size: 25px;
  font-weight: bold;
}

.info-content{
    font-size: 16px;
}

.info-content-small{
    font-size: 10px;
}

#info_copy_sesson_code{
  color: #328FC5;
}

#img-face-detection > img{
  height: 240px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#img-face-shield > img{
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

#cam-test{
  margin-left: auto;
  margin-right: auto;
  height:300px;
  width:600px;
  background-color: #000;
}

/*duplicates exist in other css files*/
.btn {
  color: #fff;
  background-color: #6DC3B3;
  border-color: #6DC3B3;
}
.btn:hover, .btn:focus, .btn.active {
    color: #fff;
    background-color: #149980;
    border-color: #149980;
}

.slick-dots li.slick-active button:before {
  font-size: 16px;
  color: #6DC3B3;
  opacity: 90%;
}
.slick-dots li button:before {
  font-size: 14px;
  color: #6DC3B3;
  opacity: 40%;
}
