/* Colour palette:
  1: #FFFFFF
  2: #EEEEEE
  3: #f1f1f1
  4: #328FC5
  5: #6DC3B3
  6: #149980
  7: #ebfcfa
*/

nav {
  background-color: #6DC3B3;
  border-bottom: 4px solid #A2D5CB;
}

.navbar .navbar-brand{
  color: #FFFFFF;
  font-weight:bold;
  font-size: 20px;
}

.navbar-brand:hover{
  color: #f1f1f1;
}

.navbar .nav-link{
  color:#fff;
  font-weight: bold;
}

.nav-link:hover{
  color: #149980;
}
